
.logo img{
    width: 25%;
    height: 25%;
    
}

.arvin svg{
    float: right;
    margin-bottom: 0%;
    
}

.cube1 img{
    width: 15%;
    position: absolute;
    height: auto;
    right: 0;
    margin-top: -10%;
}
.sphere2 img{
    position: absolute;
    width: 25%;
    height: auto;
    left: 0;
    margin-top: 15%;
}
.sphere1 img{
    position: absolute;
    right: 0;
    width: 30%;
    height: auto;
    margin-right: -5%;
    margin-top: -25%;
}