
.logo img{
    width: 25%;
    height: auto;
    
}

.arvin svg{
    float: right;
    margin-bottom: 0%;
    
}

.cube1 img{
    width: 15%;
    position: absolute;
    height: auto;
    z-index: -999;
    right: 0;
    margin-top: -10%;
}
.sphere2 img{
    position: absolute;
    z-index: -999;
    width: 25%;
    height: auto;
    left: 0;
    margin-top: 15%;
}
.sphere1 img{
    position: absolute;
    right: 0;
    z-index: -999;
    width: 30%;
    height: auto;
    margin-right: -5%;
    margin-top: -25%;
}
.sphere3 img{
    position: absolute;
    right: -10%;
    width: 40%;
    height: auto;
    z-index: -999;
    margin-top: -25%;
        
}

.sphere4 img{
    position: absolute;
    right: -15%;
    width: 50%;
    height: auto;
    z-index: -999;
    margin-top: 0%;
}

.sphere5 img{
    position: absolute;
    right: -15%;
    width: 50%;
    height: auto;
    z-index: -999;
    margin-top: 10%;
}
.cube2 img{
    width: 30%;
    z-index: -999;
    position: absolute;
    height: auto;
    right: -10%;
    margin-top: -35%;
    
}
.cube3 img{
    width: 35%;
    z-index: -999;
    position: absolute;
    height: auto;
    left: -10%;
    margin-top: -20%;    
}
.cube4 img{
    width: 20%;
    z-index: -999;
    position: absolute;
    height: auto;
    left: 0%;
    margin-top: -25%;    
}
.cube5 img{
    width: 15%;
    z-index: -999;
    position: absolute;
    height: auto;
    left: 0%;
    margin-top: 25%;    
}