@font-face {
    font-family: Nineteenth;
    src: url(Fonts/FontsFree-Net-Nineteenth-rg2j8.ttf);
}
@font-face {
    font-family: Mortend;
    src: url(Fonts/Mortend-Bold.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(Fonts/Quicksand_Light.otf);
}

@font-face {
    font-family: Azonix;
    src: url(Fonts/FontsFree-Net-Azonix.ttf);
}